#define NODEID           1
#define NETWORKID        100
#define FREQUENCY        RF69_868MHZ //Match this with the version of your Moteino! (others: RF69_433MHZ, RF69_868MHZ)
#define ENCRYPTKEY       "sampleEncryptKey"
#define LED              9
#define FLASH_CS         8
#define ACK_TIME         100
#define SERIAL_BAUD      115200
#define SERIAL_EN        //comment out if you don't want any serial verbose output
#define COMMAND_LIST_MAX 20
