#define NETWORKID       100
#define GATEWAYID       1
#define FREQUENCY       RF69_868MHZ        //Match this with the version of your Moteino! (others: RF69_433MHZ, RF69_868MHZ)
#define ENCRYPTKEY      "sampleEncryptKey" //has to be same 16 characters/bytes on all nodes, not more not less!
#define LED             9
#define SERIAL_BAUD     115200
#define SERIAL_EN
//#define BLIND                             //if BLIND disable LED blinking
#define ACK_TIME        100
#define SEND_RETRIES    3
#define MEASURE_PERIOD  10*10               // how often to measure, in tenths of seconds (500)
#define REPORT_EVERY    3                  // report every N measurement cycles

#if NODEID == 10
  #define MOTIONPIN       16
  #define FLASH_JEDEC 0xEF30
#elif NODEID == 11
  #define FLASH_JEDEC 0xEF30
#elif NODEID == 12
  #define DALLAS_PIN      15
  #define DALLAS_PIN_PWR  14
  #define FLASH_JEDEC 0x1F44
#endif
